@{
    ViewData["Title"] = "Home Page";
}
<div class="home-page">
    <div class="home-content">
      <div class="container dashboard-content">
          <div class="dash-form-list">
              <div class="form-item">
                  <a asp-action="Index" asp-controller="Form1" asp-route-id="Form1">
                      <div class="form-picture">
                          <img src="~/images/form-icon.svg" alt="form icon" width="144" height="88" />
                      </div>
                      <div class="details">
                          <h4>Construction Firms Registration Form - CICF 1</h4>
                      </div>
                  </a>
              </div>
              <div class="form-item">
                  <a asp-action="Index" asp-controller="Form1" asp-route-id="Form2">
                      <div class="form-picture">
                          <img src="~/images/form-icon.svg" alt="form icon" width="144" height="88" />
                      </div>
                      <div class="details">
                          <h4>Specialist works contractors registration form - CICF 2</h4>
                      </div>
                  </a>
              </div>
              <div class="form-item">
                  <a asp-action="CicForm3" asp-controller="Form3">
                      <div class="form-picture">
                          <img src="~/images/form-icon.svg" alt="form icon" width="144" height="88" />
                      </div>
                      <div class="details">
                          <h4>Joint venture construction firms and specialist works contractors registration form - CICF 3</h4>
                      </div>
                  </a>
              </div>

              <div class="form-item">
                  <a asp-action="CicForm4" asp-controller="Form4">
                      <div class="form-picture">
                          <img src="~/images/form-icon.svg" alt="form icon" width="144" height="88" />
                      </div>
                      <div class="details">
                          <h4>Consultancy practices registration form - CICF 4</h4>
                      </div>
                  </a>
              </div>
              <div class="form-item">
                  <a asp-action="CicForm5" asp-controller="Cicform5">
                      <div class="form-picture">
                          <img src="~/images/form-icon.svg" alt="form icon" width="144" height="88" />
                      </div>
                      <div class="details">
                          <h4>Joint venture consultancy practices registration form - CICF 5</h4>
                      </div>
                  </a>
              </div>
              <div class="form-item">
                  <a asp-action="AddCicform6" asp-controller="Cicform6">
                      <div class="form-picture">
                          <img src="~/images/form-icon.svg" alt="form icon" width="144" height="88" />
                      </div>
                      <div class="details">
                          <h4>Individual artisans registration form - CICF 6 </h4>
                      </div>
                  </a>
              </div>


              <div class="form-item">
                  <a asp-action="CicForm7" asp-controller="Cicform7">
                      <div class="form-picture">
                          <img src="~/images/form-icon.svg" alt="form icon" width="144" height="88" />
                      </div>
                      <div class="details">
                          <h4>Manufacturers and suppliers registration form - CICF 7 </h4>
                      </div>
                  </a>
              </div>
              <div class="form-item">
                  <a asp-action="CicForm8" asp-controller="Form8">
                      <div class="form-picture">
                          <img src="~/images/form-icon.svg" alt="form icon" width="144" height="88" />
                      </div>
                      <div class="details">
                          <h4>Construction projects and levy assessment registration form - CICF 8</h4>
                      </div>
                  </a>
              </div>
              <div class="form-item">
                  <a asp-action="CicForm9" asp-controller="Form9">
                      <div class="form-picture">
                          <img src="~/images/form-icon.svg" alt="form icon" width="144" height="88" />
                      </div>
                      <div class="details">
                          <h4>Bulk Projects And Levy Assessment Registration form – CICF 9</h4>
                      </div>
                  </a>
              </div>


          </div>
      </div>
    </div>
</div>

