
<div class="cic-application-wrapper">

    
    <div class="Declaration-wrapper">
        <div class="title">
            <strong>Declaration</strong>
        </div>
        <div class="Declaration-content">

            <p>I/We declare that all the particulars and information provided in this application are complete, correct and true and we agree that in the event that any of the particulars or information provided is found to be untrue or fraudulent, my/our registration as a contractor with the Construction Industry Council may be revoked.</p>
            <p></p>
            <p>I/We also declare that all the documentation that was submitted to the Council for registration is correct and true.</p>
            <p></p>
            <p>I/We agree that in the event of revocation of registration, any registration fees paid to the Construction Industry Council shall be forfeited.</p>
            <p></p>
            <p>I/We declare that in the event that the nature of my/our business changes and/or I/we no longer carry out operations in terms of our registration I/we will notify the Construction Industry Council in which case my/our registration may be revoked or my/our classification and categorization may be revised.</p>
        </div>

        <label class="custom-checkbox" for="termsconditions" id="certify">
            The customer / entity hereby agrees to <a href="#" data-toggle="modal" data-target="#termsconditionsModal">CIC Business terms & conditions agreement</a>
            <input type="checkbox" id="termsconditions" name="checkbox2" value="certify" required />
            <span class="checkmark"></span>
        </label>


        <div class="Declaration-fielset-block">
            <div class="fielset-inner">
                <div class="row">
                    <div class="col form-group">
                        <label>Name <span class="asterisk">*</span></label>
                        <input class="form-control" placeholder="Please enter name" type="text" />
                    </div>
                    <div class="col-lg-4 form-group mb0">
                        <label>Signature <span class="asterisk">*</span></label>
                        <div class="fileAttachment">
                            <input id="Signature" type="file" name="Browse">
                            <label for="Signature" data-input-value="" data-select-text="Browse" data-remove-text="Remove file" data-drag-text="Choose file">
                                Browse
                            </label>
                        </div>
                        <div class="createnewsign">
                            Click here
                            <a href="javascript:void(0);" class="signatureToggle">
                                Create New Signature
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 form-group mb0">
                        <label>Title/Designation <span class="asterisk">*</span></label>
                        <input class="form-control" placeholder="Please enter Title/Designation" type="text" />
                    </div>
                </div>
                <div class="title">
                    <strong>Witnessed by</strong>
                </div>
                <div class="row">
                    <div class="col-lg-4 form-group mb0">
                        <label>Name</label>
                        <input class="form-control" placeholder="Please enter name" type="text" />
                    </div>
                    <div class="col form-group mb0">
                        <label>Signature </label>
                        <div class="fileAttachment">
                            <input id="Signature1" type="file" name="Browse">
                            <label for="Signature1" data-input-value="" data-select-text="Browse" data-remove-text="Remove file" data-drag-text="Choose file">
                                Browse
                            </label>
                        </div>
                        <div class="createnewsign">
                            Click here
                            <a href="javascript:void(0);" class="signatureToggle">
                                Create New Signature
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 form-group mb0">
                        <label>Title/Designation </label>
                        <input class="form-control" placeholder="Please enter Title/Designation" type="text" />
                    </div>
                </div>


            </div>
            <ul class="cic-form-action-block">
                <li>
                    <button type="button" class="default-btn btn-preview prev-step">Previous</button>
                    <button type="button" class="default-btn btn-draft">Save as Draft</button>
                </li>
                <li>
                    <button type="button" class="btn default-btn btn-preview" id="Previewbtn">Preview</button>
                    <button type="button" class="btn btn-submit"  >Finish</button>
                </li>
            </ul>
        </div>

    </div>
   


</div>

    <div class="modal fade" id="termsconditionsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">CIC Business terms & conditions agreement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>I/We declare that all the particulars and information provided in this application are complete, correct and true and we agree that in the event that any of the particulars or information provided is found to be untrue or fraudulent, my/our registration as a contractor with the Construction Industry Council may be revoked.</p>
                    <p></p>
                    <p>I/We also declare that all the documentation that was submitted to the Council for registration is correct and true.</p>
                    <p></p>
                    <p>I/We agree that in the event of revocation of registration, any registration fees paid to the Construction Industry Council shall be forfeited.</p>
                    <p></p>
                    <p>I/We declare that in the event that the nature of my/our business changes and/or I/we no longer carry out operations in terms of our registration I/we will notify the Construction Industry Council in which case my/our registration may be revoked or my/our classification and categorization may be revised.</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-submit">I Accept</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
