<h4 class="text-center">Determining Financial Capability</h4>
<div class="cic-application-wrapper">


    <div class="cic-table-wrapper">
        <div class="title">
            <strong>SECTION C - Education Background</strong>
        </div>
        <div class="table-fieldset">
            <div class="table-responsive-lg">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Highest Education Level</th>
                            <th scope="col">Qualifications Attained</th>
                            <th scope="col">Education Institution</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="form-control" type="text" placeholder="Highest education level" /></td>
                            <td><input class="form-control" type="text" placeholder="Qualifications Attained" /></td>
                            <td><input class="form-control" type="text" placeholder="Education Institution" /></td>
                            <td><button class="btnDeleteRow" type="button" disabled> <img src="~/images/trush.svg" alt="remove row" /> </button></td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="8" class="Addnewrecord-td">
                                <button class="Addnewrecord" type="button"> <span><img src="~/images/plus.svg" alt="" /> </span> Add new record</button>
                            </td>
                        </tr>
                    </tfoot>

                </table>
            </div>          
        </div>
    </div>

    <div class="cic-table-wrapper">
        <div class="title">
            <strong>
                SECTION D - References
            </strong>(list of projects/people that you have undertaken work for)
        </div>
        <div class="table-fieldset">
            <div class="table-responsive-lg">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Names and Surname</th>
                            <th scope="col">Type of Work Performed</th>
                            <th scope="col">Telephone/Cellphone No.</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="form-control" type="text" placeholder="Highest education level" /></td>
                            <td><input class="form-control" type="text" placeholder="Qualifications Attained" /></td>
                            <td><input class="form-control" type="text" placeholder="Education Institution" /></td>
                            <td><button class="btnDeleteRow" type="button" disabled> <img src="~/images/trush.svg" alt="remove row" /> </button></td>

                        </tr>


                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="8" class="Addnewrecord-td">
                                <button class="Addnewrecord" type="button"> <span><img src="~/images/plus.svg" alt="" /> </span> Add new record</button>
                            </td>
                        </tr>
                    </tfoot>

                </table>
            </div>


            <ul class="cic-form-action-block">
                <li>
                    <button type="button" class="default-btn btn-preview prev-step">Previous</button>
                    <button type="button" class="default-btn btn-draft">Save as Draft</button>
                </li>
                <li>
                    <button type="button" class="btn btn-submit next-step">Next</button>
                </li>
            </ul>
        </div>


    </div>

</div>