$mainbg: #F8F7F7;
$primarybg: #221E71;
$whitebg:#ffffff;
$defaultbg:#000000;
$shadowbg:#d9d8d8;
$btnbg: #4545EA;
$btnhoverbg:#003B99;
$disabledbg: #B3BAC5;
$dangerbg:#ff0000;
$dangerhover: #c30000;
$borderbg: #cccccc;
$defaultbtnbg:#f1f1f1;
$activeborderbg: #2A20F6;
$placeholderbg: #CBC8C8;
$sucessfull: #24C779;
$dashborder: #CAC8FF;
$shortdescr: #797C82;
$newwrap: #F5F5F5;
$newrapbd: #E3E3E3;
$inactivebg: #686767;
$disabledbg: #AFAFAF;
$dividerbg: #E2DDDD;
$thead: #F5F5F5;
$secendarybg: #5a6268;
$secendarybg: #5a6268;
$reviewbg: #FFF7EC;


/*--font weight--*/
$roboto: 'Roboto', sans-serif;
$slim:300;
$regular:400;
$bold:600;
$medium:500;
$exbold:700;


/*--Pixcel--*/
$sp0: 0px;
$sp4: 4px;
$sp6: 6px;
$sp8:8px;
$sp14:14px;
$sp16:16px;
$sp20:20px;
$sp24:24px;
$sp32:32px;
$sp42:42px;
$sp48:48px;
$per50:50%;
$per75:75%;
$per100:100%;