/*--font weight--*/
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px; }

header {
  padding: 10px 32px;
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 2px 1px 4px #d9d8d8;
  -moz-box-shadow: 2px 1px 4px #d9d8d8;
  box-shadow: 2px 1px 4px #d9d8d8; }
  header .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .header-content .notification a {
      position: relative;
      text-decoration: none;
      color: #ffffff; }
      header .header-content .notification a span {
        width: 20px;
        height: 20px;
        display: block;
        background-color: #ff0000;
        line-height: 20px;
        text-align: center;
        font-size: 75%;
        font-weight: 400;
        position: absolute;
        top: -6px;
        left: 16px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px; }

.form-group {
  margin-bottom: 32px; }
  .form-group label {
    padding: 0;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 14px; }
    .form-group label .asterisk {
      color: #ff0000;
      font-weight: 600; }
  .form-group .form-control {
    height: 48px;
    padding: 8px 16px;
    width: 100%;
    box-shadow: none;
    outline: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .form-group .form-control::placeholder {
      color: #CBC8C8;
      opacity: 1;
      font-weight: 400; }
    .form-group .form-control:-ms-input-placeholder {
      color: #CBC8C8;
      font-weight: 400; }
    .form-group .form-control:-ms-input-placeholder {
      color: #CBC8C8;
      font-weight: 400; }
    .form-group .form-control:focus {
      border-color: #2A20F6;
      outline: none;
      -webkit-box-shadow: 0.7px 0.7px 4px #d9d8d8;
      -moz-box-shadow: 0.7px 0.7px 4px #d9d8d8;
      box-shadow: 0.7px 0.7px 4px #d9d8d8; }

.btn-submit {
  background-color: #4545EA;
  padding: 12px 24px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: background 350ms ease-in-out;
  -moz-transition: background 350ms ease-in-out;
  transition: background 350ms ease-in-out;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px; }
  .btn-submit:hover {
    background-color: #003B99;
    color: #ffffff;
    -webkit-transition: background 350ms ease-in-out;
    -moz-transition: background 350ms ease-in-out;
    transition: background 350ms ease-in-out; }
  .btn-submit:focus {
    outline: none;
    box-shadow: none; }

.btn-disabled {
  background-color: #B3BAC5;
  padding: 12px 24px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: default;
  -webkit-transition: background 350ms ease-in-out;
  -moz-transition: background 350ms ease-in-out;
  transition: background 350ms ease-in-out;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px; }
  .btn-disabled:hover {
    background-color: #B3BAC5;
    color: #ffffff;
    -webkit-transition: background 350ms ease-in-out;
    -moz-transition: background 350ms ease-in-out;
    transition: background 350ms ease-in-out; }
  .btn-disabled:focus {
    outline: none;
    box-shadow: none; }

footer {
  background-color: #221E71;
  padding: 16px 0; }
  footer p {
    text-align: center;
    padding: 0;
    margin: 0;
    color: #ffffff; }
