@model ForgotPasswordModel

<style type="text/css">
    header, footer {
        display: none;
    }
</style>
<div class="resetpassword-page">
    <div class="resetpassword-body">
        <div class="resetpwd-inner">
            <h1>Forgot password</h1>
            <div class="resetpwd-header">               
                <img src="~/images/lock-icon.svg" alt="" />
            </div>
            <div class="forgot-description">
                <h4>Please enter your email id or mobile number</h4>
                <p>We will send a verification  code to the email id or mobile number associated with our CIC account.</p>
            </div>
          
            <form asp-action="ForgotPassword">
                @Html.ValidationMessage("CustomError")
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="EmailPhoneNumber" class="control-label">Email / Mobile number</label>
                    <input asp-for="EmailPhoneNumber" class="form-control" placeholder="Enter email / mobile number" />
                    <span asp-validation-for="EmailPhoneNumber" class="text-danger"></span>
                </div>
                <div class="ForgotPassword-btn-wrap">
                    <input type="submit" value="Proceed" class="btn btn-submit" />
                    <a asp-action="Login" asp-controller="Account"><img src="~/images/right-arrow.svg" /> Back to Login</a>
                </div>
            </form>
        </div>
    </div>
</div>
