@model ResetPasswordModel


<style type="text/css">
    header, footer {
        display: none;
    }
</style>

<div class="resetpassword-page">
    <div class="resetpassword-body">
        <div class="resetpwd-inner">
            <h1>Forgot password</h1>
            <div class="resetpwd-header">
                @if (ViewBag.isEmail)
                {
                    <img src="~/images/email.svg" alt="" id="emailphoto" />
                }
                else
                {
                    <img src="~/images/mobile.svg" alt="" id="mobilephoto" />
                }


            </div>
            <div class="forgot-description">
                <h4>Please enter verification code</h4>
               </div>
            <form asp-action="ForgotPasswordOTPConfirmation">
                @Html.ValidationMessage("CustomError")
                <div class="form-group">
                    <label class="control-label">OTP</label>
                    <input asp-for="@Model.Token" class="form-control" />
                    <input type="hidden" asp-for="@Model.EmailOrPhone" />
                    @*<span class="text-danger"></span>*@
                </div>
                <div class="ForgotPassword-btn-wrap">
                    <input type="submit" value="Verify" class="btn btn-submit" />
                    <a asp-action="Login" asp-controller="Account"><img src="~/images/right-arrow.svg" /> Back to Login</a>
                </div>
            </form>

        </div>
    </div>
</div>
