@{ ViewData["Title"] = "Change Password Result"; }

<style type="text/css">
    header {
        display: none;
    }
</style>

<div class="registration-result-page">
    <div class="regresult-content">

        <div class="reg-header">
            <div class="reg-logo">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/CiC-logo.png" alt="CiC Logo" width="174" height="111" />
                </a>
            </div>
            <div class="divider">
                <img src="~/images/divider.svg" alt="divider line" />
            </div>
        </div>

        <div class="reg-reuslt-body">

            <div class="reg-action-stutus">
                <img src="~/images/like.svg" width="27" height="24" alt="like status" />
            </div>
            <div class="reg-short-content">
                <h3>Password changed</h3>
                <p>
                    Your password has been changed successfully. 
                </p>
            </div>


            <a href="~/Account/Login">Go to login</a>

        </div>

    </div>
</div>